%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
  {ej, ".*",
     {git, "git://github.com/seth/ej.git", {branch, "master"}}},
  {jiffy, ".*",
     {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
  {sqerl, ".*",
     {git, "https://github.com/chef/sqerl.git", {tag, "1.0.2"}}}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{relx, [{release, {'queen', "0.1.0"},
         ['queen',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {test, [
        {deps, [
            {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.2"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
