[
  {'queen', [{web_ip, "0.0.0.0"},
                {web_port, 8080}]},
  {sqerl, [
          %% Database connection parameters
          {db_host, "localhost" },
          {db_port, 5432 },
          {db_user, "joe" },
          {db_pass, "" },
          {db_name, "joe" },
          {idle_check, 10000},
          {column_transforms, []},
          {prepared_statements,
            {sqerl_rec, statements, [[{app, queen}]]}}
         ]},
  {pooler, [
    {pools, [[{name, sqerl},
              {max_count,  10 },
              {init_count, 5 },
              {start_mfa, {sqerl_client, start_link, []}}]]}
          ]}
].
